/* Importando a fonte: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body
{
    margin: 0; /* Remove margens da página */
    padding: 0; /* Remove preenchimento da página */
    height: 100vh; /* Define a altura da página como 100% da viewport */
}

.design-login-container
{
    height: 100%; /* Altura de 100% para o contêiner de login */
    width: 60%; /* Largura de 60% */
    background-color: #540D6E; /* Cor de fundo roxa */
    float: left; /* Alinha o contêiner à esquerda */
}

.design-login-container img
{
    max-width: 100%; /* Define a largura máxima da imagem */
    max-height: 100%; /* Define a altura máxima da imagem */
    width: 55%; /* Largura específica da imagem */
    height: 90%; /* Altura específica da imagem */
    position: absolute; /* Posicionamento absoluto da imagem */
    bottom: 0; /* Alinha a imagem ao fundo */
    transform: translateX(4%); /* Move a imagem 4% para a direita */
}

.design-login-container p 
{
    font-family: "Roboto"; /* Define a fonte Roboto */
    color: white; /* Cor do texto em branco */
    display: flex; /* Usa flexbox para exibir o texto */
    flex-direction: column; /* Direção das colunas em flexbox */
    padding: 2; /* Define o preenchimento */
    transform: translateX(4%); /* Move o texto 4% para a direita */
    font-size: 140%; /* Tamanho da fonte maior */
}

.login-container
{
    height: 100%; /* Altura de 100% para o contêiner de login */
    width : 40%; /* Largura de 40% */
    float: right; /* Alinha o contêiner à direita */
}

.title-login
{
    display: flex; /* Usa flexbox para o título de login */
    align-items: center; /* Alinha os itens ao centro */
    justify-items: center; /* Centraliza o conteúdo */
    padding-top: 10%; /* Preenchimento superior */
    padding-left: 23%; /* Preenchimento à esquerda */
}

.title-login img
{
    transform: scale(0.6); /* Reduz a escala da imagem em 60% */
}

.title-login h1
{
    font-family: "Roboto"; /* Define a fonte Roboto */
    font-size: 300%; /* Aumenta o tamanho do texto */
}

.login-area {
    margin: 0 auto; /* Centraliza a área de login */
    display: flex; /* Usa flexbox para a área de login */
    flex-direction: column; /* Coloca os itens em coluna */
    align-items: center; /* Alinha os itens no centro */
    justify-content: center; /* Centraliza verticalmente */
    box-shadow: 0 0 10px #fff; /* Sombra branca ao redor */
    height: 20dvh; /* Altura relativa à viewport dinâmica */
    width: 40rem; /* Largura fixa */
    gap: 0.5rem; /* Espaçamento entre os itens */
    border-radius: 10px; /* Bordas arredondadas */
}

.login__input {
    font-family: sans-serif; /* Fonte sans-serif */
    font-size: larger; /* Fonte maior */
    padding: 1.4rem 3rem; /* Preenchimento interno */
    background-color: white; /* Fundo branco */
    border-radius: 2rem; /* Bordas arredondadas */
    outline: none; /* Remove o contorno */
    width: 26rem; /* Largura fixa */
    transition: all 500ms ease-in-out; /* Transição suave */
    color: #6A605C; /* Cor do texto */
}

.login__input::placeholder {
    font-weight: 500; /* Peso da fonte do placeholder */
    color: #6A605C; /* Cor do placeholder */
}

.login__input:focus {
    color: black; /* Cor do texto ao focar */
    box-shadow: 0 0 20px #536270; /* Sombra ao focar */
}

.wrapper {
    width: fit-content; /* Largura do conteúdo ajustável */
    position: relative; /* Posicionamento relativo */
}

.image-login {
    position: absolute; /* Posicionamento absoluto da imagem */
    max-width: 1.8rem; /* Largura máxima da imagem */
    bottom: 1.3rem; /* Posiciona a imagem ao fundo */
    left: .8rem; /* Move a imagem para a esquerda */
}

.hide-password
{
    transform: scale(1); /* Escala padrão */
    position: absolute; /* Posicionamento absoluto */
    max-width: 1.8rem; /* Largura máxima da imagem */
    bottom: 1.3rem; /* Posição no fundo */
    right: .8rem; /* Posição à direita */
    cursor: pointer; /* Cursor tipo mão */
    transition: opacity 0.2s ease; /* Transição suave */
}

.confirma-button
{
    display: flex; /* Usa flexbox para o botão de confirmação */
    flex-direction: column; /* Coloca os itens em coluna */
    align-items: center; /* Centraliza os itens */
    text-align:justify; /* Justifica o texto */
    padding-top: 5%; /* Preenchimento superior */
    padding-left: 5%; /* Preenchimento à esquerda */
    height: 40%; /* Altura de 40% */
    font-family: "Roboto"; /* Fonte Roboto */
}

.confirma-button a
{
    margin: 1%; /* Margem ao redor do link */
    margin-right: 36%; /* Margem à direita */
    font-family: "Roboto"; /* Fonte Roboto */
    color: black; /* Cor do texto preto */
    text-decoration: underline; /* Sublinha o texto */
    text-decoration: none; /* Remove sublinhado padrão */
}

.button {
    width: 60%; /* Largura de 60% */
    height: 30%; /* Altura de 30% */
    cursor: pointer; /* Cursor tipo mão */
    position: relative; /* Posicionamento relativo */
    padding: 10px 24px; /* Preenchimento */
    font-size: 18px; /* Tamanho da fonte */
    color: black; /* Cor do texto */
    border: 10% solid #540D6E; /* Borda roxa */
    border-radius: 34px; /* Bordas arredondadas */
    background-color: transparent; /* Fundo transparente */
    font-weight: 600; /* Peso da fonte */
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1); /* Transição */
    overflow: hidden; /* Oculta transbordamento */
}

.button::before {
    content: ''; /* Adiciona conteúdo vazio */
    position: absolute; /* Posicionamento absoluto */
    inset: 0; /* Insere dentro do botão */
    margin: auto; /* Centraliza */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    border-radius: inherit; /* Herda bordas arredondadas */
    scale: 0; /* Escala inicial zero */
    z-index: -1; /* Coloca no fundo */
    background-color: #A882DD; /* Cor de fundo roxa clara */
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1); /* Transição */
}

.button:hover::before {
    scale: 3; /* Aumenta a escala ao passar o mouse */
}

.button:hover {
    color: #212121; /* Cor do texto ao passar o mouse */
    scale: 1.1; /* Aumenta a escala */
    box-shadow: 0 0px 20px #540D6E; /* Adiciona sombra */
}

.button:active {
    scale: 1.3; /* Aumenta a escala ao clicar */
}

.button img
{
    margin-right: 5%; /* Margem à direita da imagem */
    vertical-align: middle; /* Alinhamento vertical no meio */
}

.msg__erro {
    display: flex; /* Usa flexbox para exibir a mensagem de erro */
    justify-content: center; /* Centraliza o conteúdo */
}

.msg__erro p {
    color: black; /* Cor do texto preta */
    font-family: sans-serif, 'Courier New', Courier, monospace; /* Fonte personalizada */
    font-size: 1.6rem; /* Tamanho da fonte */
    text-shadow: 0 0 10px #540D6E; /* Sombra no texto */
    margin-bottom: 0; /* Remove a margem inferior */
}

/* .register-area define a área de registro com alinhamento centralizado e sombra ao redor do elemento */
.register-area {
    margin: 0 auto; /* centraliza o elemento horizontalmente */
    display: flex; /* define o layout flexível */
    flex-direction: column; /* organiza os filhos em uma coluna */
    align-items: center; /* alinha os itens ao centro horizontalmente */
    justify-content: center; /* alinha os itens ao centro verticalmente */
    box-shadow: 0 0 10px #fff; /* adiciona uma sombra ao redor da área */
    height: 20dvh; /* define a altura como 20% da altura da viewport */
    width: 40rem; /* largura fixa de 40rem */
    gap: 0.5rem; /* espaçamento entre os itens */
    border-radius: 10px; /* arredonda os cantos */
    margin-top: 1rem; /* espaçamento no topo */
    margin-bottom: 2rem; /* espaçamento na parte inferior */
}

/* .register__input estiliza os campos de entrada na área de registro */
.register__input {
    font-family: sans-serif; /* define a fonte sans-serif */
    font-size: larger; /* tamanho da fonte maior */
    padding: 1rem; /* espaçamento interno */
    background-color: white; /* cor de fundo branca */
    border-radius: 1rem; /* arredonda os cantos */
    outline: none; /* remove a borda ao focar no campo */
    width: 26rem; /* largura fixa de 26rem */
    transition: all 500ms ease-in-out; /* transição suave nas mudanças de estilo */
    color: #6A605C; /* cor do texto */
}

/* .reg__button estiliza o botão de registro */
.reg__button {
    width: 70%; /* largura relativa de 70% */
    height: 20%; /* altura relativa de 20% */
    cursor: pointer; /* cursor de ponteiro ao passar sobre o botão */
    position: relative; /* posição relativa ao contêiner */
    padding: 10px 24px; /* espaçamento interno */
    font-size: 18px; /* tamanho da fonte */
    color: black; /* cor do texto */
    border: 10% solid #540D6E; /* borda sólida */
    border-radius: 34px; /* bordas arredondadas */
    background-color: transparent; /* fundo transparente */
    font-weight: 600; /* texto em negrito */
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1); /* transição suave */
    overflow: hidden; /* esconde conteúdo que ultrapassa os limites */
    margin-bottom: 1rem; /* margem inferior */
}

/* .reg__button::before cria um efeito de expansão ao passar o mouse */
.reg__button::before {
    content: ''; /* cria um conteúdo vazio */
    position: absolute; /* posição absoluta ao contêiner */
    inset: 0; /* define posição para preencher o botão */
    margin: auto; /* centraliza o conteúdo */
    width: 100%; /* largura completa */
    height: 100%; /* altura completa */
    border-radius: inherit; /* herda o arredondamento */
    scale: 0; /* escala inicial 0 */
    z-index: -1; /* coloca o conteúdo atrás do botão */
    background-color: #A882DD; /* cor de fundo */
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1); /* transição suave */
}

/* .reg__button:hover::before aumenta a escala ao passar o mouse */
.reg__button:hover::before {
    scale: 3; /* aumenta a escala do efeito */
}

/* .reg__button:hover muda o estilo do botão ao passar o mouse */
.reg__button:hover {
    color: #212121; /* muda a cor do texto */
    scale: 1.1; /* aumenta a escala do botão */
    box-shadow: 0 0px 20px #540D6E; /* adiciona sombra ao botão */
}

/* .reg__button:active aumenta a escala ao clicar no botão */
.reg__button:active {
    scale: 1.3; /* aumenta a escala do botão ao clicar */
}

/* .reg__button img estiliza a imagem dentro do botão */
.reg__button img {
    margin-right: 5%; /* margem direita da imagem */
    vertical-align: middle; /* alinha verticalmente ao meio */
}

/* .regHide__password estiliza o ícone de esconder senha */
.regHide__password {
    transform: scale(1); /* escala padrão */
    position: absolute; /* posição absoluta ao campo de entrada */
    max-width: 1.8rem; /* largura máxima da imagem */
    bottom: 0.9rem; /* distância do fundo */
    right: .8rem; /* distância da direita */
    cursor: pointer; /* cursor de ponteiro ao passar sobre o ícone */
    transition: opacity 0.2s ease; /* transição suave na opacidade */
}

/* Remove as setinhas nos campos de número */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* remove a aparência padrão do navegador */
    margin: 0; /* remove a margem */
}

/* .IconesMenu define a barra lateral de ícones */
.IconesMenu {
    background-color: #b34db2; /* cor de fundo */
    display: flex; /* layout flexível */
    flex-direction: column; /* organiza os itens em coluna */
    align-items: center; /* centraliza os itens horizontalmente */
    margin-top: 0rem; /* sem margem superior */
    width: 8rem; /* largura fixa */
    height: 100%; /* altura completa */
    gap: 5rem; /* espaçamento entre os itens */
}

/* .IconesMenu p estiliza os textos dos ícones */
.IconesMenu p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* fonte personalizada */
    color: white; /* cor do texto branca */
}

/* .dashboard define a posição da dashboard */
.dashboard {
    margin-top: 20%; /* margem superior de 20% */
}

/* .IconesMenu img define o estilo das imagens nos ícones */
.IconesMenu img {
    pointer-events: fill; /* permite interação com os ícones */
}

/* .topo define o cabeçalho */
.topo {
    background-color: #b34db2; /* cor de fundo */
    display: flex; /* layout flexível */
    flex-direction: row; /* organiza os itens em linha */
    gap: 20rem; /* espaçamento entre os itens */
}

/* .topo img estiliza a imagem no topo */
.topo img {
    transform: scale(0.8); /* redimensiona a imagem */
    height: 4rem; /* define a altura */
}

/* .InputPesquisa estiliza a barra de pesquisa */
.InputPesquisa {
    display: flex; /* layout flexível */
    align-items: center; /* alinha os itens ao centro verticalmente */
    position: relative; /* posição relativa */
}

/* .InputPesquisa input estiliza o campo de entrada da pesquisa */
.InputPesquisa input {
    background-color: #A882DD; /* cor de fundo */
    border-radius: 5rem; /* bordas arredondadas */
    border-color: transparent; /* remove a borda */
    padding-left: 1rem; /* espaçamento interno à esquerda */
    margin-top: 0rem; /* sem margem superior */
    margin-left: 20rem; /* margem esquerda de 20rem */
    width: 40rem; /* largura fixa */
    height: 3rem; /* altura fixa */
}

/* .containerOptions define o estilo do contêiner de opções */
.containerOptions {
    background-color: #A882DD; /* cor de fundo */
    position: absolute; /* posição absoluta */
    top: 4.2rem; /* distância do topo */
    left: 8rem; /* distância da esquerda */
    width: 100%; /* largura completa */
    height: 100%; /* altura completa */
    display: grid; /* layout de grade */
    grid-template-columns: repeat(2,1fr); /* 2 colunas de tamanho igual */
    gap: 2rem; /* espaçamento entre os itens */
}

/* .conta define o estilo do contêiner da conta */
.conta {
    background-color: white; /* cor de fundo branca */
    height: 50%; /* altura relativa de 50% */
    width: 50%; /* largura relativa de 50% */
    border-radius: 3rem; /* bordas arredondadas */
    display: flex; /* layout flexível */
    flex-direction: column; /* organiza os itens em coluna */
    justify-content: space-between; /* distribui os itens igualmente */
    text-align: start; /* alinha o texto à esquerda */
    position: relative; /* posição relativa */
}

/* .conta img estiliza a imagem dentro do contêiner da conta */
.conta img {
    transform: scale(); /* redimensionamento padrão */
    position: absolute; /* posição absoluta ao contêiner */
    left: 17rem; /* distância da esquerda */
    bottom: 8rem; /* distância do fundo */
}

/* .conta h2 estiliza o título da conta */
.conta h2 {
    margin-left: 1rem; /* margem esquerda */
}

/* .conta p estiliza o parágrafo dentro do contêiner da conta */
.conta p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* fonte personalizada */
    position: absolute; /* posição absoluta */
    left: 50%; /* centraliza horizontalmente */
    top: 50%; /* centraliza verticalmente */
    transform: translate(-50%, -50%); /* ajusta a posição */
}

/* .pix-container define o estilo do contêiner de PIX */
.pix-container {
    background-color: #A882DD; /* cor de fundo */
    position: absolute; /* posição absoluta */
    top: 4.2rem; /* distância do topo */
    left: 8rem; /* distância da esquerda */
    width: 100%; /* largura completa */
    height: 100%; /* altura completa */
}
